
body {
  position: relative;
  margin: 0;
  padding-top: 110px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #f42;
}

.hidden {
  display: none;
}

.main-header {
  position: fixed;
  top: 0;
  z-index: 999;
  box-sizing: border-box;
  width: 100%;
  padding-left: 106px;
  background: #fff;
}

.main-logo { 
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f42;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
}

.main-logo a {	
  display: block;
  padding: 16px 20px;
  box-sizing: border-box;
  width: 106px;
  height: 80px;
}

.main-logo img {
  transform: translateY(16px);
}

.main-logo h1 {
  transform: translateY(16px);
  font-size: 16px;
  font-weight: 900;
  color: #fff;
  padding: 0 0 0 10px;
  margin: 0;
}

.hidden {
  display: none;
}

.main-nav {
  font-size: .8em;
}

.main-nav ul {  
  line-height: 32px;
  height: 32px;
  list-style: none;
  padding: 0 8px 0;
  margin: 0;
  background-color: #131313;
  overflow: hidden;
}

.main-nav li {  
  margin-left: 12px;
}

.main-nav li.left {
  float: left;
}

.main-nav li.right {
  float: right;
}

.main-nav li a {
  color: rgba(255,255,255,.6);
}

.main-nav li.active a {
  color: #fff;
}

.main-nav li a:hover {
  color: #fff;
}

.sections-nav {
  font-family: 'Quantico', sans-serif;
  max-height: 48px;
  padding-left: 12px;
  overflow: hidden;
}

.sections-nav:after {
  content: "";
  display: table;
  clear: both;
}

.sections-nav ul {
  list-style: none;
  margin: 0;
  padding: 0 8px 0;
}

.sections-nav .sections {
  font-size: .9em;
}

.sections-nav li {
  float: left;
  margin-right: 15px;
}

.sections-nav ul.right {
  float: right;  
  border-left: 1px solid #eee;
}

.sections-nav ul.right li {
  margin: 0 8px;
}

.sections-nav .collapsed-menu {
  color: #f42;
  display: none;
}

.sections-nav a {  
  line-height: 48px;
  display: block;
  color: #aaa;
  height: 48px;
}

.sections-nav a:hover {
  color: #f42;
}

.header-message {
  font-size: 13px;
  line-height: 30px;
  white-space: nowrap;
  margin-left: -106px;
  padding-left: 126px;
  background-color: #fd3; 
  box-shadow: 0 1px 1px #444;
}

.main:after {
  content: "";
  display: table;
  clear: both;
}

.featured a {  
  color: #fff;
}

.featured article {
  position: relative;
  display: block; 
  height: 30vh;
  width: 100%;
  padding: 4px;
  box-sizing: border-box;
  color: white;  
}

.featured .image-container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.featured .cover-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color .4s ease;
  background: #000;
  background: linear-gradient(rgba(0,0,0,.33), rgba(0,0,0,.67), rgba(0,0,0,1) 90%);
}

.gradient-overlay:hover {
   background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.5), rgba(0,0,0,1) 90%);
}

.featured header, .most-popular header {
  position: absolute;
  bottom: 0;
  padding: 16px 12px;
}

header h1, header h6 {
  margin: 0;
}

.featured h1 {  
  font-size: 25px;
  line-height: 1.1;
  margin-bottom: .25em;
}

h6 {
  font-family: 'Quantico', sans-serif;
  font-size: 14px;
  letter-spacing: .04em;
  line-height: 1.5;
}

.wrapper {  
  max-width: 1192px;
  margin: 0 auto;
  padding: 0 20px;
}

.section .header {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 24px;
}

.section .header a:after {
  content: " >";
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -12px;
}

.grid .cell {
  box-sizing: border-box;
  padding: 12px;
  flex-basis: 50%;
}

.latest .grid article {
  box-sizing: border-box;
  padding: 12px;
  flex-basis: 33.33%;
}

.latest article .image-container {
  display: block;
  padding: 0 0 10px;
  width: 100%;
  height: 12vw;
  max-height: 200px;
}


.latest article .cover-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


.latest article .title {
  font-size: 16px;
  padding: 0;
  margin: 0;
}


.featured ul, .latest ul, .most-popular ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #aaa;
}

.featured li, .latest li, .most-popular li {
  font-size: 13pli
  line-height: 16px;
  display: inline-block;
  padding-right: 5px;
}

.featured ul a, .latest ul a {
  color: inherit;
}

.featured ul a:hover {
  color: #fff;
}

.latest ul a:hover {
  color: #000;
}

.section .most-popular {
  position: relative;
  height: 240px;
  width: 100%;
  color: #fff;
}

 .most-popular h1 {
  font-size: 24px;
}

.section .most-popular header h1 a {
  color: #fff;
}

.section .most-popular .image-container {
  display: block;
  width: 100%;
  height: 100%;
}

.section .most-popular .cover-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.section .section-latest {
  overflow: hidden;
  display: flex;
  margin: 2px 0;  
  max-height: 96px;
  background-color: rgba(255,68,34,.06);
}

.section .section-latest header {      
  width: 100%;
  padding: 10px 14px 0 14px;
}

.section .section-latest .image-container {
  flex: 0 0 96px;
  height: 96px;
  width: 96px;
}

.section .section-latest .cover-image {
  width: 100%;
  height: 100%;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/05/Google-IO-hed-796x419.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.section .articles {  
  list-style: none;
  padding: 0;
  margin: 0;
}

.section .articles .list-item {
  font-size: 13px;
  padding: 0;
  color: #555;
  vertical-align: center;
}

.section .articles .list-item a {
  display: block;
  padding: 6px 0 6px 14px;  
  border-bottom: 1px solid #ccc;
}

.section .articles li:nth-of-type(1), .section .articles li:nth-of-type(2) {
  padding: 0;
}


.footer {
  color: #878787;
  text-align: center;
  margin-top: 2em;
}

.footer-links {  
  padding: 2em 0;
  background-color: #131313;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  display: inline-block;
}

.footer-social a {
  display: block;
  box-sizing: border-box;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #333;
  color: #fff;
}

.footer-social a:hover {  
  background-color: #131313;
}

.footer-menu h6 {
  font-size: 12px;
  margin: 0;
}

.footer-menu li {
  padding: 5px;
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 78px;
  }

  .wrapper {
    padding: 0 10px;
  }

  .main-nav, .sections-nav .sections, .sections-nav .social {
    display: none;
  }

  .sections-nav .collapsed-menu {
    display: block;
  }

  .main-header {
    padding-left: 0;
  }

  .header-message {
    text-align: center;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  .main-logo a {
    height: 48px;
  }

  .main-logo img {
    transform: translateY(0px);
  }

  .main-logo h1 {
    transform: translateY(0px);
  }

  .latest .grid article {
    box-sizing: border-box;
    padding: 12px;
    flex-basis: 100%
  }

  .latest article .image-container {
    float: left;
    width: 75px;
    height: 75px;

    margin: 0 10px 0 0;
    padding: 0;
  }
  
  .grid .cell {
    flex-basis: 100%;
  }

  .section .most-popular {
    height: 40vh;
  }
}

@media screen and (min-width: 768px) {
  .grid .cell {
    margin-bottom: 40px;
  }

  .featured {
    height: 75vh;
    max-height: 560px;
  }

  .featured article {
    float: left;
    height: 50%;
    width: 33.33%;
  }

  .featured article:nth-of-type(1) {
    height: 100%;
    width: 66.67%;
  }

  .featured article:nth-of-type(1) h1 {
    font-size: 40px;
    line-height: 1.1;
    letter-spacing: -.1;
    font-weight: 750;
  }
}

@media screen and (min-width: 1024px) {
  .grid .cell {
    flex-basis: 33.33%;
  }

  .latest .grid article {
    flex-basis: 25%;
  }
}